html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* BUTTONS */
.button-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
}

.button-row button {
    flex: 1 1 45%;
    max-width: 150px;
    max-height: 100px;
    min-width: 105px;
    white-space: nowrap;
    padding: 10px 16px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background-color: #1976d2;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
}

.button-row button:hover {
    background-color: red;
}

.button-row button:disabled {
    background-color: red;
}


/* PILE CONTAINER */
.pile-container {
    padding: 12px;
}

/* CARD IMAGES */
.pile-card {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 2 / 3;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
    display: block;
}

.pile-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.base-card img {
    border-radius: 15px;
}

/* CARD COUNTER */
.pile-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.75);
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 1.1rem;
}

/* HAND CONTAINER */
.hand-container-wrapper {
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #f3bbbb;
    padding: 15px;
    display: inline-block;
}

.hand-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

/* TABLEAU CONTAINER */
.tableau-container-wrapper {
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #f3bbbb;
    padding: 15px;           
    display: inline-block;
}

.tableau-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

/* ENGAGED MINIONS CONTAINER */
.engaged-minions-wrapper {
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #2a17758c;
    padding: 15px;           
    display: inline-block;
}

.engaged-minion-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

/* SIDE SCHEMES CONTAINER */
.side-scheme-container-wrapper {
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #2a17758c;
    padding: 15px;           
    display: inline-block;
}

.side-scheme-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}
